[project]
	description = OpenStack zuul daemon (copy of https://github.com/openstack-ci/zuul)
	state = active
[access "refs/*"]
	owner = group wmf
	create = group integration
	forgeCommitter = group integration
	pushMerge = group integration
	submit = group integration
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
