[project]
	description = OpenStack zuul daemon.\n\
\n\
Upstream: https://review.openstack.org/gitweb?p=openstack-infra/zuul.git
[access "refs/*"]
	pushMerge = group integration
	push = +force group integration
	createTag = group integration
	createSignedTag = group integration
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access]
	inheritFrom = integration
[access "refs/heads/patch-queue/*"]
	push = +force group integration
