## The following requirements were added by pip freeze:
APScheduler==3.0.6
Babel==2.6.0
docutils==0.14
ecdsa==0.13
extras==1.0.0
futures==3.0.5
gear==0.7.0
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.11
lockfile==0.12.2
paramiko==1.18.5
Paste==3.0.6
pbr==5.1.2
prettytable==0.7.2
pycrypto==2.6.1
python-daemon==2.0.6
pytz==2018.9
PyYAML==3.13
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
statsd==2.1.2
tzlocal==1.2.2
voluptuous==0.9.3
WebOb==1.8.5
