Source: zuul
Maintainer: Antoine Musso <hashar@free.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
 python-virtualenv (>= 1.11),
 dh-exec,
 dh-virtualenv (>= 0.9),
 virtualenv,
 openstack-pkg-tools,
 python2.7,
# Following was Build-Depends-Indep
#
# Dependencies comes from upstream sources, they are not available under
# Wikimedia Ubuntu Precise distribution and will be provided via dh-virtualenv.
#
# #################################
#  requirements.txt
# #################################
 python-pbr (>= 0.5.21),
#Build in python 2.7:
#python-argparse,
 python-yaml (>= 3.1.0),
 python-paste,
 python-webob,
 python-paramiko (>= 1.11.6),
# python-git (>= 0.3.2~RC1),	 python-git (<<0.3.3),
# python-gitdb,
# python-smmap,
#Build in python 2.7:
#python-orderdict
#python-daemon,
# daemon depends on docutils
 python-docutils,
 python-extras,
#python-statsd (>= 1.0.0, <3.0)
 python-voluptuous (>= 0.7),
#python-gear (>= 0.5.4),
#python-apscheduler (>= 2.1.1),
 python-prettytable (>= 0.6),
 python-tz,
 python-babel (>= 1.0),
 python-six (>= 1.6.0),
# #################################
#  test-requirements.txt
# #################################
#python-hacking (>= 0.9.2),
#python-coverage (>= 3.6),
#python-sphinx (>= 1.0.7+dfsg),
#python-sphinxcontrib.blockdiag (>= 0.5.5),  added by dh-virtualenv
#python-discover,
#python-fixtures (>= 0.3.14),
#python-keystoneclient (>= 0.4.2),
 python-subunit,
#python-swiftclient (>= 1.6),
#python-testrepository (>= 0.0.17),
#python-testtools (>= 0.9.32),
#python-sphinxcontrib.programoutput    added by dh-virtualenv
# #################################
#  Debian packaging dependencies
# #################################
 python-nose
Standards-Version: 3.9.8
X-Python-Version: = 2.7
Homepage: https://launchpad.net/zuul
Vcs-Git: git://github.com/pabelanger/zuul-deb.git
Vcs-Browser: https://github.com/pabelanger/zuul-deb

Package: zuul
# any since dh-virtualenv includes python
Architecture: any
Pre-Depends: dpkg (>= 1.16.1),
 python2.7,
 ${misc:Pre-Depends}
Depends: adduser,
 libjs-jquery,
 libjs-underscore,
 lsb-base (>= 3.0-6),
 python-pbr (>= 0.5.21),
 python-yaml (>= 3.1.0),
 python-paste,
 python-webob,
 python-paramiko,
# python-git (>= 0.3.2~RC1),	 python-git (<<0.3.3),
# python-gitdb,
# python-smmap,
# python-daemon,
# daemon depends on docutils
 python-docutils,
 python-extras,
 python-voluptuous (>= 0.7),
#python-gear (>= 0.5.4),
# python-apscheduler (>= 2.1.1),
 python-prettytable (>= 0.6),
 python-six (>= 1.6.0),
 python-tz,
 python-babel (>= 1.0),
 ${misc:Depends},
 ${python:Depends},
# shlibs since dh-virtualenv includes python
 ${shlibs:Depends}
Suggests:
 jenkins (>= 1.426),
Description: Trunk gating system
 Zuul is a program that is used to gate the source code repository of a project
 so that changes are only merged if they pass tests.
 .
 The main component of Zuul is the scheduler. It receives events related to
 proposed changes (currently from Gerrit), triggers tests based on those events
 (currently on Jenkins), and reports back.
