#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

UPSTREAM_GIT = git://github.com/openstack-infra/zuul.git

include /usr/share/openstack-pkg-tools/pkgos.make

# Make pbr to use the version from the Debian changelog
export OSLO_PACKAGE_VERSION=$(DEBVERS)

%:
	dh $@ --with python-virtualenv

override_dh_auto_build:
	dh_auto_build
	# Ubuntu Precise is missing blockdiag/pillow. Skip doc
	#PYTHONPATH=. http_proxy='.' https_proxy='.' $(MAKE) -C doc html man BUILDDIR=$(CURDIR)/build/docs

override_dh_auto_clean:
	dh_auto_clean
	rm -rf *.egg*

override_dh_installinit:
	dh_installinit --name=zuul
	dh_installinit --name=zuul-merger

override_dh_virtualenv:
	# Needs dh_virtualenv 0.9+ for --use-system-packages
	# The .pyc are generated in postinst
	PIP_NO_COMPILE=1 PYTHONDONTWRITEBYTECODE=true VIRTUALENV_VERBOSE=true dh_virtualenv \
		--python '/usr/bin/python2.7' \
		--use-system-packages \
		--no-package ordereddict \
		--no-package paramiko \
		--no-package WebOb \
		--extra-pip-arg '--no-compile' \
		--pypi-url https://pypi.python.org/simple
	find $(CURDIR)/debian/zuul/usr/share/python/zuul -type f -name '*.pyc' -delete
	# python2.7 is populated in postinst and refreshed by dh-virtualenv trigger
	rm $(CURDIR)/debian/zuul/usr/share/python/zuul/bin/python2.7

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	nosetests
endif
